{% extends 'photo_app/base_template.html' %}


{% block content %}
<div class="jumbotron">
<div class="container">
<h1 class="display-4">{{ gallery.title }}</h1>

<h4 class="lead">{{ gallery.about }}</h2>
    <hr class="my-4">
</div>
</div>
<h2>
    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{% url 'create_photo' gallery.id %}" role="button">Add New Photo</a>
        {% endif %}
</h2>
{% if photo_list %}
<div class="row">
{% for photo in photo_list %}
<div class="col-auto">
<div class="card text-white bg-secondary border-4 border-light mb-5" style="max-width: 18rem;">
<div class="card-body">
    <h5 class="card-title">{{ photo.title }}</h5>
    <img class="card-img-top rounded-circle" src="{{photo.picture.url}}" alt="{{photo.altText}}">
    <p class="card-text">{{photo.about}}</p>
    <div class="text-center">
    <a class="btn btn-primary btn-lg" href="{{ photo.get_absolute_url }}" role="button">View</a>
    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-lg" href="{% url 'edit_photo' gallery.id photo.id %}" role="button">Edit</a>
    <a class="btn btn-danger btn-lg" href="{% url 'delete_photo' gallery.id photo.id %}" role="button">Delete</a>
    {% endif %}
    </div>
</div>
</div>
</div>
{% endfor %}
</div>
{% else %}
<p>There are no photos registered.</p>
{% endif %}

{% endblock %}