<!-- inherit from base.html-->
{% extends "photo_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
{% block content %}
<h1>Member Photographer Galleries</h1>


<h2>List of Photographers with Active Galleries</h2>
<ul class="list-group">
{% for i in photographer_active_galleries %}
<li class="list-group-item"><h4>Name: {{i.name}}</h4>
<h4><strong>Gallery: {{ i.gallery.title }}</strong>
<a class="btn btn-primary" href="{{ i.gallery.get_absolute_url }}" role="button">View</a>
</h4>
</li>
{% endfor %}
</ul>


{% endblock %}